html,
body {
    height: 100%;
    background-color: #000;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

.custom-tooltip {
  font-size: 8px;
  height: 17px;
  background-color: #eee;
  border-radius: 4px;
  font-weight: 700;
}
